{% extends "base.html" %}

{% block title %} Worker {{ worker.last_name }} {{ worker.first_name }}{% endblock title  %}

{% block content %}
    <div class="card text-center w-25 mx-auto">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark active">Worker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark"  href="{% url 'emp:worker_update_url' worker.id %}">Edit</a>
                </li>
            </ul>
        </div>
        <div class="card-body text-start">
            <p class="card-text d-flex flex-column">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">
                            <a href="{% url 'emp:worker_list_url'%}" class="text-decoration-none"><i class="bi bi-arrow-bar-left"></i></a>
                            {{ worker.last_name }} {{ worker.first_name }}
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <p class="d-flex flex-row align-items-center m-0">
                            <strong>Number: </strong>
                            <span class="ms-auto">{{ worker.phone }}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="d-flex flex-row align-items-center m-0">
                            <strong>Age: </strong>
                            <span class="ms-auto">{{ worker.age }}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="d-flex flex-row align-items-center m-0">
                            <strong>State: </strong>
                            <span class="ms-auto">{{ worker.storage.state }}</span>
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="d-flex flex-row align-items-center m-0">
                            <strong>City: </strong>
                            <span class="ms-auto">{{ worker.storage.city }}</span>
                        </p>
                    </li>
                    {% if request.user.is_chief %}
                    <li class="list-group-item">
                        <p class="d-flex flex-row align-items-center m-0">
                            <strong>Manager: </strong>
                            <span class="ms-auto">{{ worker.manager }}</span>
                        </p>
                    </li>
                    {% endif %}
                </ul>
            </p>
        </div>
    </div>
{% endblock content %}
