{% extends "base.html" %}

{% block title %} Worker {{ worker.last_name }} {{ worker.first_name }}{% endblock title  %}

{% block content %}
<div class="container-lg container-md mx-auto">
    <div class="row card text-center">
        <div class="col-lg-12 col-sm-6 col-md-12 card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'emp:worder_detail_url' worker.id %}">Worker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark active">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'emp:worker_update_url' worker.id %}" >Edit</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 col-sm-6 col-md-12 card-body text-start">
            <p class="card-text d-flex flex-column">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">
                            <a href="{% url 'emp:worker_list_url'%}" class="text-decoration-none"><i class="bi bi-arrow-bar-left"></i></a>
                            Edit Worker
                        </h5>
                    </li>
                </ul>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' class='btn btn-sm btn-warning' value='Category update'>
                </form>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
