{% extends "base.html" %}

{% block title %} Reset Password {% endblock title %}

{% block content %}
<div class="content-detail container w-25">
    <div class="align-items-center p-3">
        <div class="my-3">
            <h5 class="text-uppercase">Reset Password</h5>
            <form class="border-bottom border-2 pb-4" method='POST'>
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label}} <br> {{ field}}</p>
                {% endfor %}
                <input type="hidden" name="next" value="{{ next|default:'/' }}">
                <button class="rounded px-3 py-1 btn-login text-white">
                    Reset
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}