{% extends "base.html" %}

{% block title %} Sing-in {% endblock title %}

{% block content %}
<div class="content-detail container w-25">
    <div class="align-items-center p-3">
        <div class="my-3">
            <h5 class="text-uppercase">Sing-in</h5>
            <form class="border-bottom border-2 pb-4" method='POST'>
                {% csrf_token %}
                {{ form.as_p}}
                <input type='hidden' name='next' value='{{ next}}'>
                <button class="btn btn-sm btn-success text-white">
                    Sing-in
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}