<nav class="navbar navbar-expand-fluid bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-lg ">
        <a class="navbar-brand" href="#"><i class="bi bi-dropbox"></i> Warehome</a>
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-primary">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
        {% endif %}
    </div>
</nav>