<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-lg">
        <a class="navbar-brand" href="#"><i class="bi bi-dropbox"></i> Warehome</a>
        <div class='d-flex ms-auto align-items-center'>
        {% if request.user.is_authenticated %}
            <span class="navbar-text text-white me-5">
                User: {{ request.user.get_full_name}}
            </span>
            <form action="{% url 'logout'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="rounded px-3 py-1 btn-logout text-white">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login'%}" method="post">
                {% csrf_token %}
                <button type="submit" class="rounded px-3 py-1 btn-login text-white">Login</button>
            </form>
        {% endif %}
        </div>
    </div>
</nav> 