{% extends "base.html" %}
{% load static%}

{% block title %}Main Page{% endblock title %}

{% block content %}
<!-- Card Home -->
<div class="card home-card border-0 mt-5">
    <img src="{% static 'image/homepage.png' %}" class="card-img-top w-75 mx-auto" alt="imageCRM">
    <div class="card-body d-flex justify-content-center flex-column">
        {% if not request.user.is_authenticated %}
        <h5 class="card-title text-center">Login or sing-in and works with CRM system</h5>
        <form action="{% url 'login' %}" method="post" class="mt-1 mx-auto">
            {% csrf_token %}
            <button class="rounded px-4 py-1 btn-login text-white">
                Login
            </button>
        </form>
        {% else %}
        <h5 class="card-title text-center">You successed login. Start a works!</h5>
        <div class='d-flex justify-content-center gap-3'>
            <a href="{% url 'manage:goods_storage_url'%}" class="rounded px-4 py-1 btn-login text-white text-decoration-none w-25 text-center">
                Storage
            </a>
        </div>
        {% endif %}
    </div>
</div> 
{% endblock content %}